/* Leah added global screen reader only style */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Built in styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.userAccContainer {
  display: flex;
  justify-content: center;
}

.userAccContainer * {
  margin: 10px;
}

#userDetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: rgb(250, 229, 215);
  padding: 1rem;
  border-radius: 10px;
  border: 4px solid black;
}

.eachUserDetail {
  grid-column: span 3;
  font-weight: bold;
}

.rightCont {
  background-color: rgb(250, 229, 215);
  border: 4px solid black;
  border-radius: 10px;
}
